*,
html,
body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.container {
    margin: 30px 0;
    background-color: #fff;
    width: 900px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
}
.back {
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.back a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}
.col {
    border: 1px solid black;
}
.col h2 {
    margin: 10px 0 10px 0;
    text-align: center;
}
.col table {
    width: 100%;
}
.col table tr {
    height: auto;
}
.col table tr th {
    font-size: 1.3rem;
}
.col table tr td {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.container .col table {
    border: 2px solid black;
}
.container .col table tr th,
td {
    border: 1px solid black;
}
.container .col table tr td img {
    display: block;
    margin: auto;
}
